<ion-header>
  <ion-toolbar>
    <ion-title>contact-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="contactForm">
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input formControlName="firstName"></ion-input>
      <span *ngIf="( isSubmit || control.firstName.touched ) && control.firstName.invalid " > First Name is Mandatory</span>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input formControlName="lastName"></ion-input>
      <span *ngIf="( isSubmit || control.lastName.touched ) && control.lastName.invalid " > Last Name is Mandatory</span>

    </ion-item>
    <ion-item>
      <ion-label position="floating">Mobile Number</ion-label>
      <ion-input formControlName="mobileNumber"></ion-input>
      <span *ngIf="( isSubmit || control.mobileNumber.touched ) && control.mobileNumber.invalid " > Invalid Mobile Number</span>
    </ion-item>
    <ion-item>
      <ion-textarea formControlName="notes" placeholder="Enter more information here..."></ion-textarea>
      <span *ngIf="( isSubmit || control.notes.touched ) && control.notes.invalid " > Invalid Mobile Number</span>

    </ion-item>
  </form>


</ion-content>
<ion-footer>
  <ion-button *ngIf="isEdit" type="submit" (click)="updateContact()" expand="full" shape="round"> 
    Save
  </ion-button>
  <ion-button *ngIf="!isEdit"  type="submit" (click)="saveContact()" expand="full" shape="round"> 
    Save
  </ion-button>
</ion-footer>
